<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC 
	"-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">   
<configuration>  
    <typeAliases>  
       <typeAlias alias="user" type="com.wzuden.resume.action.fo.User"/> 
       <typeAlias alias="baseInfo" type="com.wzuden.resume.action.fo.BaseInfo"/>
    </typeAliases>  
    <mappers>  
          <mapper resource="com/wzuden/resume/dao/sqlMapper/loginMapper.xml"/>
          <mapper resource="com/wzuden/resume/dao/sqlMapper/baseInfoMapper.xml"/>
          <mapper resource="com/wzuden/resume/dao/sqlMapper/registMapper.xml"/>
    </mappers>  
</configuration>